 # Ignore environment variables with credentials
.env

# ignore a specific file
filename.txt

# ignore all files with .txt extensions
*txt

#ignore entire/directory
/node_modules/
/dist/
/.vscode/
/.idea/

#temporary files
*.log
*.temporary
*.swp

#sensitive data
*.env
secret.json
